*,
*::before,
*::after {
    
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html{
    margin: 0;
    padding: 0;
   overflow-x: hidden;
 
}
body{
    margin: 0;
    padding: 0;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    transition: 200ms;
    height: 50vh;
    
    
}
.darkmode{
    background: rgb(56, 56, 56);
    color: white;
    transition: 200ms;
  
}
/*
::-webkit-scrollbar{
    width: 7px;
  background: white;
}
::-webkit-scrollbar-track{
    border: 1px solid rgb(0, 0, 0);
    border-style: dashed;
}
::-webkit-scrollbar-thumb{
  background:url(img/colorbg.jpg);
  border: 1px solid black;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.button-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:fixed;
    z-index: 11;
  margin-left: 80vw;
    transition: 200ms;
   
  
}
.button-container-outline{
    border: 1px solid rgb(122, 122, 122);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100% ;
}

.switch-on{
    display: none;
    background-color: rgb(255, 255, 255);
    margin: 0;
    border-radius: 360px;
    height: 5px;
    width: 5px;
    padding: 10px;
    border: 2px dotted rgb(255, 196, 0);
    font-size: 10px;
    transition: 200ms;
}
.switch-on.see{
    display: flex;
}
.switch-on:hover{
    background-color: white;
    box-shadow: 0 15px 30px rgba(255, 196, 0, 0.883);
    border: 5px dashed rgb(255, 196, 0);
    font-size: 30px;
}
.switch-off{
    display: flex;
    background-color:  black;
    margin: 0;
    border-radius: 360px;
    height: 5px;
    width: 5px;
     padding: 10px;
     border: 2px dotted white;
     font-size: 10px;
     transition: 200ms;
}
.switch-off.disappear{
    display: none;
}
.switch-off:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 15px 30px rgba(148, 57, 223, 0.473);
    border: 5px dashed white;
    font-size: 30px;
}
nav{
    position: fixed;
    width: 100%;
    background-color: rgb(64, 17, 139);
    max-height: 3em;
    min-height: 3em;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.329);
    z-index: 10;
    background-image: url(img/color-bg2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
   
    
    
}

.nav2{
    position: fixed;
    width: 100vw;
    background-color: rgba(32, 32, 32, 0.993);
    max-height: 3em;
    min-height: 3em;
    margin-top: 25px;
    border-radius: 360px; 
   
}
.bg-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    
  
}
.mv-logo-colored{
    position: fixed;
  max-height: 200px;
  max-width: 200px;
  
}
.navlogo{
 
    max-width: 200px;
    height: 40px;
    padding: 0;

}
.nav-menu{
    display: block;
    position: relative;
}
.hamburger{
        display: block;
        padding: 0;
        filter: invert(1);
        cursor: pointer;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        margin: 10px;
        max-width: 25px;
       
}
.hamburger img{
    transition: 300ms;
}

.hamburger.disappear{
    display: none;
}

.hamburger.see{
    display: block;
    padding: 0;
    filter: invert(1);
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    margin: 10px;
    max-width: 25px;
   
}
.hamburger:hover{
    background: none;
    filter: invert(1);
    cursor: pointer;
    
}
.close-menu{
    display: none;
    padding: 0;
    filter: invert(1);
    cursor: pointer;
    background: none;
    border: none;
    margin: 10px;
    max-width: 25px;
   
}

.close-menu.see{
    display: block;
   
}
.close-menu.disappear{
    display: none;
}
.close-menu:hover{
    background: none;
}
.nav-ul{
   
    display: none;
   
    
}
.nav-ul.see{
    font-family: 'Poppins', sans-serif;
  
    cursor: pointer;
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgba(10, 10, 10, 0.871);
    backdrop-filter: blur(10px);
    cursor:pointer;
  margin-top: -2px;
  border-bottom-left-radius: 320px; 
  border-bottom-right-radius: 320px; 
}

.nav-ul.disappear{
    display: none;
}

li{
    padding: 10px;
}

a{
    text-decoration: none; 
    color: rgb(202, 202, 202);
    cursor: pointer;
}
a:hover{
    color: rgb(255, 255, 255);
}

main{
    padding-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
  
}

section .hero{
    position: relative;

}
.container{
  position: relative;
    padding: 50px;
    padding-bottom: 50px;
    padding-right: 50px; 
    border-radius: 25px;
    margin: 0;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.198);
    min-width: 800px;
    max-width: 600px;
    background: url(img/mvdoodle.png);
    background-size:contain;
    background-repeat: repeat;
    
  left: 50%;
  right: 50%;
  transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-style: dashed;
    transition: 200ms;
}

.container.dark{
background-color: rgb(27, 27, 27);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.198);

border: 5px solid rgb(255, 255, 255);
    border-style: dashed;
    transition: 200ms;
  
}

.frame{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 360px;
    border-style: dashed;
    background-color: rgba(255, 255, 255, 0.897);
    backdrop-filter: blur(30px) ;
    box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.151);
    
    max-width: 350px;
    
  
}
.frame2{
    position: relative;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100% ;
 
    background-color: rgb(148, 57, 223);
    border: 24px solid black;
    border-style: dashed;
    margin: 50px;
   
   
}  
.status-circle{
    
    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 360px;
    border-style: dashed;
    background-color: lightgreen;
    background-size: 50px;
    margin-left: 20px;
    
}
.status-circle:hover{
    border-color:  rgb(0, 128, 53);
    cursor: pointer;
    background: lightgreen;
    box-shadow: 0 15px 30px rgba(89, 245, 89, 0.719);
}
.status-circle2{
    color: #000;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 360px;
    border-style: dashed;
    background-color: lightgreen;
    margin-left: 180px;
    border-bottom-left-radius: 3px;
  
    
}

.status-circle2:hover{
    border-color:  rgb(0, 128, 53);
    cursor: pointer;
    background: lightgreen;
    box-shadow: 0 15px 30px rgba(89, 245, 89, 0.719);
}

.bubble{
    background-color: rgb(224, 255, 224);
    height: 20px;
    width: 20px;
    border-radius: 360px;
    margin-left: 10px;
    padding: 0;
}

.profile-img {
    position: relative;
    min-width: 250px;
    max-width: 250px;
    border-radius: 360px;
    border: 5px solid rgba(174, 0, 255, 0.993);
    border-style: dashed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-image: url(img/avatartrim3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
    height:350px;
    transition: 200ms;
    


}
.profile-img.switch{
    background-image: url(img/av-no-glasses-hero.jpg);
    transition: 200ms;
}
.strikethrough{
    background-color: rgb(151, 151, 151);
    border: 2px solid rgb(151, 151, 151);
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 2px;
    min-width: 300px;
}

h1{
    text-align: left;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
    
    color: rgba(174, 0, 255, 0.993);
    align-self: flex-start;
    transition: 200ms;
 }
 h1.dark{
     color: rgb(255, 255, 255);
     transition: 200ms;
 }
 .my-name-hero{
    text-align: left;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    align-self: flex-start; 
    transition: 200ms;
}
 h2{
     text-align: left;
     padding-top: 5px;
     font-family: 'Courier New', Courier, monospace;
     font-weight:bold;
     color: rgb(119, 119, 119);
     align-self: flex-start;
     margin-bottom: 20px;
     transition: 200ms;
 }
 h2.dark{
     color: rgb(206, 206, 206);
     transition: 200ms;
 }
 .h2project{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom:10px ;
    transition: 200ms;
}
.h2project.light{
    color: white;
    transition: 200ms;
}
 h3{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: lightgreen;
    font-size: 25px;    
}

p{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(15, 15, 15);
   
}
.js-tag{
    font-size: 10px;
    transition: 200ms;
}
.js-tag.light{
    color: white;
    transition: 200ms;
}
span{
    color: rgb(71, 202, 71);
}
button{
    position: relative;
    padding: 20px;
    padding-bottom: 15px;
    border: 2px solid rgba(0, 0, 0, 0.993);
    border-style: dashed;
    border-radius: 3px;
    cursor: pointer;
    color: rgba(231, 231, 231, 0.993);
    background: rgba(174, 0, 255, 0.993);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold ;
    margin-top: 10px;
}
button:hover{
    color: rgb(255, 255, 255);
    background: rgba(186, 37, 255, 0.993);
     box-shadow: 0 15px 30px rgba(191, 0, 197, 0.322);
     transition-duration: 0.5s;
}
.About-Me{
    padding: 30px 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    transition: 200ms;
    
}

.About-Me.switch{
   
    color: rgb(0, 0, 0);
    background-color:rgb(231, 231, 231);
    transition: 200ms;
}

.My-Projects{
    position: relative;
    padding: 50px;
    border: 2px solid rgba(174, 0, 255, 0.993);
    border-style: dashed;
    border-radius: 25px;
    margin: 20px;
    min-width: 200px;
    background: rgb(255, 255, 255) url(img/mvdoodle.png);
    background-size: cover;
   
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    transition: 200ms;

}
.My-Projects.dark{
    background: rgb(27, 27, 27) url(img/mvdoodle.png);
    background-size: cover;
    transition: 200ms;
   
}

.personal-details{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background: rgb(248, 193, 11);
   
    border: 3px solid rgb(0, 0, 0);
    border-style: dashed;
    padding: 0;
    transition: 200ms;

}
.about-paragraph{
    padding: 20px;
}
footer{
    position: relative;
    color: white;
    min-width: 100%;
    background-color: rgb(64, 17, 139);
  
    margin: 0;
    
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    
   
}

.contact{
    position: relative;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold ;
   text-align: center;
}

.social-icons{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px;
  
}
.social-icons img{
    padding: 8px;
}
.social-icons img:hover{
  filter: sepia(100%);
  transition-duration: 0.5s;
}
.hero-icons{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding-right: 5px;
    padding-bottom: 3px;
    

}
.hero-icons img{
    padding-right: 20px;
}
.hero-icons img:hover{
    filter:invert(100%);
    transition-duration: 0.5s;
    
    
}
.hero-icons.bright img{
  
    transition-duration: 0.5s;
}
.hero-icons.bright img:hover{
    filter:sepia(100%);
    transition-duration: 0.5s;
}
.tagline{
    padding: 2%;
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
  }


/*media queries for web view--
-----------------------------------------------------

/*media queries for web view--
-----------------------------------------------------*/


@media(min-width:80rem){
    .button-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position:fixed;
        z-index: 11;
      margin-left: 90vw;
        transition: 200ms;
       
      
    }
    
    nav{
        position: static;
        background-color: rgb(64, 17, 139);
        max-height: 4em;
        min-height: 4em;
        position: fixed;
        z-index: 100;
        display: flex;
        flex-wrap:nowrap;
        padding-left: 100px;
        padding-right: 100px;
      
    }
    .nav2{
        position: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.993);
        max-height: 4em;
        min-height: 4em;
        margin-top: 30px;
        border-radius: 360px; 
      
       
    }
  
    /*::-webkit-scrollbar{
        width: 15px;
      
    }
    ::-webkit-scrollbar-track{
        border: 3px solid black;
        border-style: dashed;
    }
    ::-webkit-scrollbar-thumb{
      background:url(img/colorbg.jpg);
      border-radius: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      
     
    }*/
    .mv-logo-colored{
        min-height: 1700px;
        min-width: 1700px;
    }
    
    .nav-ul{
      
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        width: 0%;
        background: none;
        list-style-type: none;
    } 
   li a:hover{
        border-bottom: 5px solid white;
        transition-duration: 0.1s; 
    }

    .hamburger{
        display: none;
    }

    .close-menu.see{
        display: none;
    }
    section .hero{
        position: absolute;
        
    
    }
  
    .container{
    position: relative;
    padding: 80px;
    padding-left: 200px;
    padding-right: 200px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    max-width: 1600px;
    max-height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
  
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.198);
    background: url(img/mvdoodle.png) repeat; 
    background-size:cover;
    background-repeat:no-repeat;
    background-color: rgb(255, 255, 255);
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    border: 5px solid black;
    border-style: dashed;
    }
 

    .frame{
    position: relative;
    border: 2px solid black;
    border-radius: 360px;
    border-style: dashed;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.897);
    padding: auto;
    min-width:450px;
    
    }
    .status-circle{
        color: #000;
        border: 2px solid black;
        height: 50px;
        width: 50px;
        border-radius: 360px;
        border-style: dashed;
        background-color: lightgreen;
        background-size: 50px;
        margin-left: 60px;
    }
    .status-circle:hover{
        border-color:  rgb(0, 128, 53);
        cursor: pointer;
        background: lightgreen;
        box-shadow: 0 15px 30px rgba(89, 245, 89, 0.719);
    }
    .status-circle2{
        color: #000;
        border: 2px solid black;
        height: 50px;
        width: 50px;
        border-radius: 360px;
        border-style: dashed;
        background-color: lightgreen;
        margin-left: 290px;
        border-bottom-left-radius: 3px;     
        
    }
    
    .status-circle2:hover{
        border-color:  rgb(0, 128, 53);
        cursor: pointer;
        background: lightgreen;
        box-shadow: 0 15px 30px rgba(89, 245, 89, 0.719);
    }
    .profile-img{
        position: relative;
        min-width: 250px;
        max-width: 350px;
        border-radius: 360px;
        border: 5px solid rgba(174, 0, 255, 0.993);
        border-style: dashed; 
        padding: 0px;
        height: 500px;
        
    }

    .strikethrough{
        background-color: rgb(160, 160, 160);
        border: 2px solid rgb(160, 160, 160);
        margin-top: 0px;
        border-radius: 2px; 
        height: 40vh;  
        margin-left: 50px;
        display: flex;
        align-self: center;
        margin-right:50px;
        max-height: 500px;
        min-width: 2px;
    }
    h1{
        text-align: left;
        padding-top: 0;
        font-family: 'Poppins', sans-serif;
        
        color: rgba(174, 0, 255, 0.993);
        align-self: flex-start;
        font-size: 75px;
     }
     h1.dark{
        color: rgb(255, 255, 255);
    }
     h2{
         text-align: left;
         padding-top: 5px;
         font-family: 'Courier New', Courier, monospace;
         font-weight:bold;
         color: rgb(119, 119, 119);
         align-self: flex-start;
         font-size: 40px; 
     }
     .h2project{
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        margin-top: 0;
        font-size: 20px;
        font-weight: bold;
        color: rgb(70, 70, 70);
        padding-top: 10px;
        padding-bottom:10px ;
    }
     h3{
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
        color:rgba(174, 0, 255, 0.993);
        font-size: 50px;
    }
 
    .project-title{
        font-size: 30px; 
    }

    .tech-stack{
     
        padding: 50px 50px;
        background: rgba(0, 0, 0, 0.993);
       
       
        
    }
    .tech-stack-p{
        color: white;
        text-align: center;
        font-size: 20px;
    }
   
    .My-Projects{
        position: relative;
        padding: 50px;
        border: 2px solid rgba(174, 0, 255, 0.993);
        border-style: dashed;
        border-radius: 25px;
        margin: 0;
        margin-top: 10px;
        background: url(img/mvdoodle.png);
        background-size: cover;
        
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        max-width: 1300px;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
        background-color: rgb(255, 255, 255)
       
    }
    .My-Projects:hover{
     
        transition-duration: 0.3s;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.198);
        max-width: 1350px;
    }
   
    .project-img-frame {
        
        padding: 150px;
        background: rgb(233, 233, 233);
        height: 200px;
        width: 200px;
        margin: 10px;
        border: 5px solid rgba(174, 0, 255, 0.993);
        border-style: dotted;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .echohealth{
        background-image: url(img/portfolio-thumbs/echohealth.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .blank-project{
        background-image: url(img/mvlogo.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .project-text{
        max-width: 50%;
    }
  
       
    footer{
        color: white;
        background-color: rgb(64, 17, 139);
        margin-top: 10px;
        margin-left: 0;
        width: 100vw;
        height: 60vh;
       
    }

.frame2{
    position: relative;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100% ;
   
    background-color: rgb(148, 57, 223);
    border: 24px solid black;
    border-style: dashed;
   max-width: 760px;
   min-width: 300px;
   max-height: 900px;

   height: 760px;
   width: 100%;
  margin: 0;

}  
.svg{
   

    height: 700px;
   width: 100%;

   

}
.personal-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(243, 243, 243);
    
    border: 3px solid rgb(0, 0, 0);
    border-style: dashed;
    padding: 0;

}
.personal-details.black{
background: rgb(29, 29, 29);
border-top: 3px dashed white;
border-bottom: 3px dashed white;
}
.random-circles{
    background-color: rgb(148, 57, 223);
    height: 500px;
    width: 500px;
    margin-left: -500px;
  
    border-top-left-radius: 360px ;
    border-bottom-left-radius: 360px;
    border-top-right-radius: 360px;
    border: 24px solid rgb(0, 0, 0);
    border-style: dashed;
   
}
.about-me{
    padding: 200px; 
    max-width: 800px;
    margin: 0;
}
.about-paragraph{
    color: rgb(0, 0, 0);
    /*font-size: 30px;*/
    background: rgb(248, 193, 11);
    padding: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px ;
    border-style: dashed;
   
 position: relative;
    
 
}


}
    /*-------------------------------------
End of Media Query
---*/